h1{
color:skyblue;
}

div{
background:lime!important;
}

.design{
	font-size:25px;
	color: Red;
}

.bangladesh{
font-size:35px;
color:green;
}

#Nafi{
width:100px;
height:200px;
}